<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--springmvc的配置文件-->
    <!--声明组件扫描器-->
    <context:component-scan base-package="com.huawei.controller"/>
    <!--声明视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--声明拦截器 拦截器的声明顺序就是执行顺序 -->
    <!--
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.huawei.handler.MyInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.huawei.handler.MyInterceptorA"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.huawei.handler.MyInterceptorB"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.huawei.handler.MyInterceptorVerify"/>
        </mvc:interceptor>
    </mvc:interceptors>
    -->

    <!-- 拦截器使用说明 -->
    <!-- /* 只能拦截 http://localhost:8080/SpringMVC_tutorial/you.do -->
    <!--
    /** 能拦截 http://localhost:8080/SpringMVC_tutorial/you.do
    /** 能拦截 http://localhost:8080/SpringMVC_tutorial/you/you.do
    /** 能拦截 http://localhost:8080/SpringMVC_tutorial/you/you/you.do
    -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.huawei.handler.MyInterceptorTest"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--第一种方式处理静态资源 依赖Tomcat服务器 -->
    <!--
    <mvc:default-servlet-handler />
    <mvc:annotation-driven />
    -->

    <!--第二种方式处理静态资源 不依赖Tomcat服务器 -->
    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/html/**" location="/html/" />
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:annotation-driven />
</beans>