<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	     http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>1</servlet-name>
    <servlet-class>com.learnservlet.tutorial.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>1</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>2</servlet-name>
    <servlet-class>com.learnservlet.tutorial.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>2</servlet-name>
    <url-pattern>/square</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>3</servlet-name>
    <servlet-class>com.learnservlet.tutorial.SubtractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>3</servlet-name>
    <url-pattern>/subtract</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>4</servlet-name>
    <servlet-class>com.learnservlet.tutorial.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>4</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>5</servlet-name>
    <servlet-class>com.learnservlet.tutorial.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>5</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>6</servlet-name>
    <servlet-class>com.learnservlet.tutorial.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>6</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>7</servlet-name>
    <servlet-class>com.learnservlet.tutorial.AddOverSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>7</servlet-name>
    <url-pattern>/addtesta</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>8</servlet-name>
    <servlet-class>com.learnservlet.tutorial.AddPrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>8</servlet-name>
    <url-pattern>/addprint</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>9</servlet-name>
    <servlet-class>com.learnservlet.tutorial.AddOverCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>9</servlet-name>
    <url-pattern>/addtestb</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>10</servlet-name>
    <servlet-class>com.learnservlet.tutorial.AddPrintBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>10</servlet-name>
    <url-pattern>/addprintb</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>11</servlet-name>
    <servlet-class>com.learnservlet.tutorial.ServletConfigAndContextServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>config-Harrdy</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>11</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>name</param-name>
    <param-value>context-Harrdy2018</param-value>
  </context-param>
  <context-param>
    <param-name>phone</param-name>
    <param-value>context-xiaomi</param-value>
  </context-param>
</web-app>
